<%- include("partials/header", { title: "Bookshelf" }) %>


    <div class="container detail">
        <h1 class="title la-belle-aurore-regular">
            <%= book.title %>
        </h1>


        <div class="form">

            <div class="form-top">

                <!-- LEFT -->
                <div class="form-left">

                    <h3>
                        <%= book.author %>
                    </h3>

                    <p class="stars">
                        <% for(let i=1; i <=5; i++) { %>
                            <% if(i <=book.rating) { %>
                                ★
                                <% } else { %>
                                    ☆
                                    <% } %>
                                        <% } %>
                    </p>

                    <p>
                        <%= book.review %>
                    </p>
                </div>

                <!-- RIGHT -->
                <div class="form-right">

                    <div class="cover">
                        <img src="<%= book.cover_url %>" width="250">
                    </div>



                </div>

            </div>

            <!-- FULL WIDTH -->




            <div class="book-actions">

                <a href="/" class="back-btn">← Back to bookshelf</a>

                <form action="/edit/<%= book.id %>" method="GET">
                    <button class="edit-btn">Edit</button>
                </form>

                <form action="/delete/<%= book.id %>" method="POST">
                    <button class="delete-btn">Delete</button>
                </form>
            </div>

        </div>
    </div>
    </body>